.profile-card {
	display: flex; 
	justify-content: center;
	margin-top: 100px;  
}

.dislike-button {
	margin-top: 30px; 
	margin-right: 50px; 
	background-color: white; 
	border-radius: 40px; 
	height: 80px; 
	width: 80px; 
	border: 3px solid #6930C3; 
}

.like-button {
	margin-top: 30px; 
	background-color: white; 
	border-radius: 40px; 
	height: 80px; 
	width: 80px; 
	border: 3px solid #6930C3; 
}