.logo {
	width: 200px; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 100px; 
}

.input-field {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	width: 400px; 
	height: 40px; 
	border-radius: 5px; 
	border-width: 1px; 
	border-color: #cecece; 
	font-size: 20px; 
}

.login-action {
	margin-left: auto; 
	margin-right: auto;
	display: flex; 
	flex-direction: row; 
	width: 400px; 
}

.submit-button {
	margin-top: 30px; 
	width: 150px; 
	height: 40px; 
	background-color: #5E60CE; 
	color: white; 
	border-radius: 15px; 
	border-width: 1px; 
	border-color: #cecece; 
	font-size: 20px; 
}

.create-account {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 10px; 
}
